* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.background {
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    width: 1450px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.88);
    opacity: 0.55;
}

.header {
    position: absolute;
    width: 352px;
    height: 142px;
    left: 16px;
    top: 0px;
}

.first {
    position: absolute;
    width: 1450px;
    height: 0px;
    left: 0px;
    top: 110px;
    border: 0.5px solid rgb(124, 180, 139);
    transform: rotate(-0.1deg);
}

.second {
    position: absolute;
    width: 1237px;
    height: 0px;
    left: 0px;
    top: 110px;
    border: 4px solid rgb(124, 180, 139);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.12deg);
}

.bottom {
    position: absolute;
    width: 1450px;
    height: 0px;
    left: -1px;
    top: 700px;
    border: 0.5px solid rgb(124, 180, 139);
    transform: rotate(-0.1deg);
}

.try {
    position: absolute;
    width: 385px;
    height: 454px;
    left: 30px;
    top: 185px;
    border: 0.8px solid rgb(124, 180, 139);
    border-radius: 50%;
    background-size: contain;
    filter: brightness(1.5);
}

.verticalOne {
    position: absolute;
    width: 680px;
    height: 0px;
    left: -5%;
    top: 58%;
    border: 0.5px solid rgb(124, 180, 139);
    transform: rotate(90deg);
}

.verticalTwo {
    position: absolute;
    width: 680px;
    height: 0px;
    left: 420px;
    top: 58%;
    border: 0.5px solid rgb(124, 180, 139);
    transform: rotate(90deg);
}

.verticalThree {
    position: absolute;
    width: 1599px;
    height: 0px;
    left: 445px;
    top: 0px;
    border: 0.5px solid rgb(124, 180, 139);
    transform: rotate(90deg);
}

.circle {
    position: absolute;
    width: 385px;
    height: 454px;
    left: 80px;
    top: 185px;
    border: 0.5px solid #78A885;
    border-radius: 50%;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 50px;
    width: 70%;
    left: 23%;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
}

#menu li {
    display: inherit;
}

#menu a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: #78A885;
}

.home1 h1 {
    position: absolute;
    width: 32px;
    right: 95px;
    top: 108px;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #78A885;
    line-height: 72px;
}

#quoteBegin {
    position: absolute;
    left: 22%;
    right: 70.75%;
    top: 30%;
    bottom: 80.74%;
}

.home1 h2 {
    position: absolute;
    width: 800px;
    height: 35px;
    left: 28%;
    top: 45%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: normal;
    text-align: center;
    color: rgba(255, 255, 255);
    opacity: 90%;
}

#quoteEnd {
    position: absolute;
    left: 80.03%;
    right: 14.41%;
    top: 55.18%;
    bottom: 64.94%;
}

.btnQuote {
    position: absolute;
    width: 185px;
    height: 51px;
    right: 230px;
    top: 640px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: rgb(85, 129, 97);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hope {
    text-decoration: none;
    color: #ffffff;
}

.socialMedia {
    position: absolute;
    width: 150px;
    height: 35px;
    left: 49px;
    top: 730px;
    font-size: 2em;
    color: rgb(85, 129, 97);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pointer {
    position: absolute;
    left: 55%;
    right: 40.54%;
    top: 87%;
    bottom: 50.92%;
    font-size: 7em;
    color: #e2e0e0;
    opacity: 85%;
}

.reminder p {
    position: absolute;
    width: 300px;
    height: 23px;
    right: 245px;
    top: 735px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    color: #e2e0e0;
}


/*  Styling for reality home page */

.one {
    position: absolute;
    width: 1450px;
    height: 0px;
    left: 0px;
    top: 890px;
    border: 0.5px, solid rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.two {
    position: absolute;
    width: 1236.5px;
    height: 0px;
    left: 0px;
    top: 890px;
    border: 4px solid #000000;
    box-shadow: 0px 4px, 4px, rgba(0, 0, 0, 0.25);
    transform: rotate(180deg);
}

.threeBottomV {
    position: absolute;
    width: 1450px;
    height: 0px;
    left: -5px;
    top: 1460px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.four {
    position: absolute;
    width: 695px;
    height: 0px;
    right: 890px;
    top: 1245px;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    transform: rotate(90deg);
}

.fiveMiddle {
    position: absolute;
    width: 133px;
    height: 0px;
    left: 45%;
    top: 1525.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    transform: rotate(90.73deg);
}

.sixV {
    position: absolute;
    width: 795px;
    height: 0px;
    left: 847px;
    top: 1195.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    transform: rotate(90deg);
}

.header2 {
    position: absolute;
    left: 0px;
    top: 780px;
}

#menu2 {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 105%;
    width: 70%;
    left: 20%;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
}

#menu2 li {
    display: inherit;
}

#menu2 a {
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.realityImg {
    position: absolute;
    width: 960px;
    height: 500px;
    left: 17%;
    top: 930px;
    border: 0.7px solid #000000;
    box-sizing: border-box;
}

.reality h1 {
    position: absolute;
    width: 29px;
    height: 386px;
    right: 80px;
    top: 930px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 75px;
    text-align: center;
}

.ohPlease {
    position: absolute;
    width: 140x;
    height: 88px;
    left: 12px;
    top: 1125px;
}

.para1 {
    font-size: 15px;
    font-family: Helvetica;
}

.para2 {
    padding-top: 10px;
    font-size: 15px;
}

.socialMedia2 {
    position: absolute;
    width: 77px;
    height: 35px;
    right: 60px;
    top: 1520px;
    font-size: 2em;
    text-align: center;
}


/* Interior About Me Styling */

.aboutInter h1 {
    position: absolute;
    width: 409px;
    height: 46px;
    left: 480px;
    top: 257px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: rgb(230, 230, 230);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.liner {
    position: absolute;
    width: 419.78px;
    height: 0px;
    left: 530.8px;
    top: 307px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.description {
    position: absolute;
    left: 480px;
    right: 300px;
    top: 320px;
    font-family: Helvetica;
    font-weight: 200;
    font-size: 23px;
    line-height: 28px;
    color: rgb(230, 230, 230);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about2 {
    position: absolute;
    width: 172px;
    height: 92px;
    left: 1257px;
    top: 310px;
    color: rgb(230, 230, 230)
}

.para4 {
    font-size: 12px;
}


/*portfolio styling*/

.leftPointer {
    position: absolute;
    left: 12%;
    top: 50%;
    bottom: 45.29%;
    font-size: 3em;
    color: #78A885;
}

.rightPointer {
    position: absolute;
    left: 22%;
    top: 50%;
    bottom: 45.29%;
    font-size: 3em;
    color: #78A885;
}

.slideShow h1 {
    position: absolute;
    right: 290px;
    top: 350px;
    text-align: center;
    font-size: 40px;
    color: #e2e0e0;
}


/* Gallery Styling */

.wrapper {
    display: flex;
    height: 100vh;
}

.gallery-highlight {
    width: 80%;
    height: 40%;
}

.room-gallery {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-preview {
    display: flex;
    width: 80%;
    border: 1px solid #e5e5e5;
}

.room-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.room-active {
    opacity: 1;
}


/* Online Quote Styling */

.online h1 {
    position: absolute;
    width: 295px;
    height: 57px;
    left: 100px;
    top: 150px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quoteForm {
    position: absolute;
    width: 500px;
    top: 250px;
    left: 100px;
    text-align: left;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7px;
    text-align: left;
    font-size: 20px;
    margin: 15px 0;
    border: 0;
    color: rgb(124, 180, 139);
    border-bottom: 2px solid #ffffff;
    background: none;
}

.input::placeholder {
    color: rgb(124, 180, 139);
}

.input:focus {
    color: rgb(124, 180, 139);
    border: none;
}

#checkList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 300px;
    width: 100%;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.subButton {
    position: absolute;
    width: 100px;
    height: 29px;
    left: 515px;
    top: 275px;
    border-radius: 5px;
}

.subBtn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #61896C;
    padding: 5%;
    text-align: center;
}

.subBtn a {
    text-decoration: none;
    color: #61896C;
}

.interest {
    position: absolute;
    width: 510px;
    height: 290px;
    right: 150px;
    top: 200px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

#contactInfo {
    position: absolute;
    width: 307px;
    height: 137px;
    right: 280px;
    top: 500px;
}


/* styling for quote 2 page */

.options h2 {
    position: absolute;
    width: 385px;
    height: 23px;
    left: 100px;
    top: 260px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 23px;
    color: #FFFFFF;
}

.checkList2 {
    position: absolute;
    width: 220px;
    height: 123px;
    left: 100px;
    top: 330px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
}

.tuesday {
    position: absolute;
    width: 350px;
    left: 100px;
    top: 500px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
}