body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica";
    font-weight: lighter;
}

#lineTwo {
    color: #000000;
    border: 1px solid;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

#mainRealImg {
    border: .5 solid;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

#slogan {
    font-size: 30px;
}

#bottomContact {
    position: absolute;
    bottom: 5%;
    font-size: 15px;
}